/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgba(0, 0, 0, 0.514);
    --first-color-alt: rgb(102, 255, 171);
    --gradient: #affcef;
    --white: #ffff;
    --black: #303333;
    /*========== Font and typography ==========*/
  
    --biggest-font-size: 1.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 968px) {
    :root {
      --biggest-font-size: 3.5rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
      --smaller-font-size: .813rem;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Coming Soon', cursive;
}


.banner_img{
    animation: movimiento 2.5s linear infinite;
}

.banner_img img{
    width: 600px;
    display: block;
}

.btn {
    width: 150px;
    background-color: #78f7cc;
    border: none;
    outline: none;
    height: 50px;
    border-radius: 49px;
    color: rgba(8, 8, 8, 0.603);
    text-transform: uppercase;
    font-weight: 100;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }

section{
    display: grid;
    place-content: center;
}

a{
    text-decoration: none;
    color: var(--first-color);
}

nav i{
    color: var(--first-color);
    font-size: 20px;
}

nav {
    height: var(--header-height);
    margin: 10px 20px 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg_animate{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, var(--white), var(--gradient));
    position: relative;
    overflow: hidden;
}

nav h1{
    font-size: var(--h1-font-size);
    color: var(--black);
}

nav a:nth-child(1){
    margin-right: 15px;
}

nav i{
    display: none;
}

form{
    width: 100%;
    display: grid;
    place-items: center;
}

input {
    background-color: white;
    border-radius: 8px;
    height: 30px;
    font-size: var(--small-font-size);
    padding: 6px;
    margin-bottom: 12px;
    border-color: #303333;
    font-family: 'Coming Soon', cursive;
  }

/* burbujas */

.burbuja{
    border-radius: 50%;
    background: rgb(102, 255, 171);
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

@keyframes movimiento{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (max-width: 767px) {
    nav a{
        font-size: var(--small-font-size);
    }

    nav a:nth-child(1){
        margin-right: 10px;
    }
    section{
        place-items: center;
    }


    nav{
        margin-bottom: 30px;
    }
}
  